<div class="card mt-5">
  <h3
    class="orange-text text-darken-4 flow-text d-flex justify-content-center text-center my-3"
  >
    <i class="material-icons small mr-2">settings</i>
    Edit Your Settings
  </h3>

  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item d-flex">
        <p>
          <label>
            <input type="checkbox" />
            <span></span>
          </label>
        </p>
        <span>Allow registration</span>
      </li>
      <li class="list-group-item d-flex">
        <p>
          <label>
            <input type="checkbox" />
            <span></span>
          </label>
        </p>
        <span>Disable Balance on Add</span>
      </li>
      <li class="list-group-item d-flex">
        <p>
          <label>
            <input type="checkbox" />
            <span></span>
          </label>
        </p>
        <span>Disable Balance on Edit</span>
      </li>
    </ul>
    <a
      class="d-block mx-auto my-2 btn-floating btn-large waves-effect waves-light black"
      ><i class="material-icons">send</i></a
    >
  </div>
</div>
