#navbarDropdown {
  &:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
}
.navbar-toggler {
  border: 0;
  outline: 0;
  background-color: transparent;
}
.navbar-collapse {
  // background-color: orange;
  li a {
    padding-left: 10px !important;
    &:hover {
      background-color: transparent;
    }
  }
}
