<section class="m-auto mt-5">
  <h2
    class="orange-text text-darken-4 flow-text d-flex justify-content-center my-5 mb-5"
  >
    <i class="material-icons small mr-2">how_to_reg</i>
    Add a new Client
  </h2>
  <div class="card">
    <form>
      <div class="input-field col s12 l6">
        <input type="text" id="first_name" name="firstName" />
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s12 l6">
        <input type="text" id="last_name" name="lastName" />
        <label for="last_name">Last Name</label>
      </div>
      <div class="input-field col s12">
        <input type="email" id="email" name="email" />
        <label>Email</label>
      </div>
      <div class="input-field col s12 l6">
        <input type="tel" id="phone" name="phone" />
        <label>Phone</label>
      </div>
      <div class="input-field col s12 l6">
        <input type="number" id="balance" name="balance" />
        <label>Balance</label>
      </div>
      <a
        class="my-2 d-block mx-auto btn-floating btn-large waves-effect waves-light black"
        ><i class="material-icons">add</i></a
      >
    </form>
  </div>
</section>
