<section class="text-center my-5">
  <h2
    class="my-3 orange-text text-darken-4 flow-text d-flex justify-content-center"
  >
    <i class="material-icons small mr-2">supervisor_account</i>
    Clients Manager
  </h2>
  <!-- ? serach bar -->
  <article class="row d-flex justify-content-between py-5 my-5">
    <div class="col-sm-6 col-12 order-2 order-sm-1">
      <nav class="orange lighten-0 hoverable">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input
                (keyup)="onSearch()"
                [(ngModel)]="term"
                name="search"
                id="search"
                type="search"
                required
                placeholder="Search client.."
                class="black-text"
              />
              <label class="label-icon" for="search"
                ><i class="material-icons black-text">search</i></label
              >
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div
      class="col-sm-6 col-12 order-1 order-sm-2 my-4 my-sm-0 d-flex justify-content-around align-items-center"
    >
      <span class="orange-text text-darken-4 flow-text z-depth-5 p-2">
        Total Balance : {{ total | currency: "EUR":"symbol":"4.0" }}
      </span>
      <i
        (click)="isCard = !isCard"
        class="material-icons small tooltipped ml-2"
        data-position="top"
        data-tooltip="Cards/table view"
        >{{ isCard ? "table_view" : "recent_actors" }}</i
      >
      <i
        routerLink="/add"
        data-position="right"
        data-tooltip="Add new client"
        class="tooltipped material-icons medium border-0"
        >add</i
      >
    </div>
  </article>
  <!-- ! table ------------------------------------------>
  <article *ngIf="clients.length !== null && !isCard" class="my-5">
    <table class="striped highlight centered responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Balance</th>
          <th>Details</th>
        </tr>
      </thead>

      <tbody>
        <tr [id]="i" *ngFor="let client of clients; index as i">
          <td>
            {{ client.firstName | titlecase }} {{ client.lastName | titlecase }}
          </td>
          <td>{{ client.email }}</td>
          <td>{{ client.balance | currency: "EUR":"symbol":"4.0" }}</td>
          <td>
            <a [routerLink]="['/client', client.id]">
              <i class="material-icons small">loupe</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  <!-- ! cards ------------------------------------------>
  <article *ngIf="clients.length !== null && isCard" class="my-5">
    <div class="row">
      <div [id]="i" *ngFor="let client of clients; index as i" class="col">
        <div class="card px-0 py-3">
          <h5 class="orange-text text-darken-4">
            {{ client.firstName | titlecase }} {{ client.lastName | titlecase }}
          </h5>

          <div class="card-content pt-3 px-1">
            <p class="lead font-weight-normal black-text pb-2">
              {{ client.email }}
            </p>
            <p class="text-muted orange-text text-darken-4">
              Balance : {{ client.balance | currency: "EUR":"symbol":"4.0" }}
            </p>
            <a
              [routerLink]="['/client', client.id]"
              class="btn-floating halfway-fab waves-effect waves-light blue darken-2"
              ><i class="material-icons">read_more</i></a
            >
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
